

{% include 'base/tabulator/tabulator-custom-formatters.html' %}
<div class="row">
  {% set title= "Search for data registered" %}{% include 'base/box_title.html' %}
</div>
<div class="row">
    
    <div class="col-md-5 ">
      <div class="align-center input-group input-group-sm" id="memo">
  <input class="form-control" type="search"
         name="search" placeholder=""
         hx-get="/{{net}}/ajax_tools/transactions-search-temp"
         
        hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
         hx-target="#search-results-data"
         hx-indicator=".htmx-indicator">
        </div>
    </div>
<div id="search-results-data"></div>