.venv/*
.DS_Store
htmlcov/*
*.pyc
build/*
dist/*
development/__marimo__/*
ccdexplorer.egg-info/dependency_links.txt
ccdexplorer.egg-info/PKG-INFO
ccdexplorer.egg-info/requires.txt
ccdexplorer.egg-info/SOURCES.txt
ccdexplorer.egg-info/top_level.txt
build/*
.env
.env.redis
settings.json
requirements.dev.txt
.vscode/*
/tmp
tmp/*
test/bases/tmp/*.out

!/projects/site/node_modules
/projects/site/node_modules/*
!/projects/site/node_modules/bootstrap-icons
/projects/site/node_modules/bootstrap-icons/*
!/projects/site/node_modules/bootstrap-icons/font

!/projects/site/node_modules/bootstrap/
/projects/site/node_modules/bootstrap/*
!/projects/site/node_modules/bootstrap/dist
/projects/site/node_modules/bootstrap/dist/*
!/projects/site/node_modules/bootstrap/dist/js
/projects/site/node_modules/bootstrap/dist/js/*
!/projects/site/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js

!/projects/site/node_modules/plotly.js-dist
/projects/site/node_modules/plotly.js-dist/*
!/projects/site/node_modules/plotly.js-dist/plotly.js

!/projects/site/node_modules/plotly.js-strict-dist-min
/projects/site/node_modules/plotly.js-strict-dist-min/*
!/projects/site/node_modules/plotly.js-strict-dist-min/plotly-strict.min.js

!/projects/site/node_modules/htmx.org/
/projects/site/node_modules/htmx.org/*
!/projects/site/node_modules/htmx.org/dist/
/projects/site/node_modules/htmx.org/dist/*
!/projects/site/node_modules/htmx.org/dist/htmx.js

!/projects/site/node_modules/htmx-ext-class-tools/
/projects/site/node_modules/htmx-ext-class-tools/*
!/projects/site/node_modules/htmx-ext-class-tools/class-tools.js

!/projects/site/node_modules/htmx-ext-json-enc/
/projects/site/node_modules/htmx-ext-json-enc/*
!/projects/site/node_modules/htmx-ext-json-enc/json-enc.js

!/projects/site/node_modules/nouislider/
/projects/site/node_modules/nouislider/*
!/projects/site/node_modules/nouislider/dist/
/projects/site/node_modules/nouislider/dist/*
!/projects/site/node_modules/nouislider/dist/nouislider.js
!/projects/site/node_modules/nouislider/dist/nouislider.css

!/projects/site/node_modules/tabulator-tables/
/projects/site/node_modules/tabulator-tables/*
!/projects/site/node_modules/tabulator-tables/dist/
/projects/site/node_modules/tabulator-tables/dist/*
!/projects/site/node_modules/tabulator-tables/dist/js
/projects/site/node_modules/tabulator-tables/dist/js/*
!/projects/site/node_modules/tabulator-tables/dist/css
/projects/site/node_modules/tabulator-tables/dist/css/*

!/projects/site/node_modules/tabulator-tables/dist/js/tabulator.min.js
!/projects/site/node_modules/tabulator-tables/dist/css/tabulator.min.css
!/projects/site/node_modules/tabulator-tables/dist/css/tabulator_bootstrap5.min.css

!/projects/site/node_modules/luxon/
/projects/site/node_modules/luxon/*
!/projects/site/node_modules/luxon/build/
/projects/site/node_modules/luxon/build/*
!projects/site/node_modules/luxon/build/global
/projects/site/node_modules/luxon/build/global/*
!/projects/site/node_modules/luxon/build/global/luxon.min.js

!/projects/site/node_modules/microlight/
/projects/site/node_modules/microlight/*
!/projects/site/node_modules/microlight/microlight.js

!/projects/site/node_modules/flatpickr/
/projects/site/node_modules/flatpickr/*
!/projects/site/node_modules/flatpickr/dist/
/projects/site/node_modules/flatpickr/dist/*
!/projects/site/node_modules/flatpickr/dist/flatpickr.min.js
!/projects/site/node_modules/flatpickr/dist/flatpickr.min.css
!/projects/site/node_modules/flatpickr/dist/plugins
/projects/site/node_modules/flatpickr/dist/plugins/*
!/projects/site/node_modules/flatpickr/dist/plugins/monthSelect
/projects/site/node_modules/flatpickr/dist/plugins/monthSelect/*
!/projects/site/node_modules/flatpickr/dist/plugins/monthSelect/index.js
!/projects/site/node_modules/flatpickr/dist/plugins/monthSelect/style.css



!/projects/site/node_modules/jquery/
/projects/site/node_modules/jquery/*
!/projects/site/node_modules/jquery/dist/
/projects/site/node_modules/jquery/dist/*
!/projects/site/node_modules/jquery/dist/jquery.min.js


!/custom_scss
/custom_scss/*
!/custom_scss/custom.scss


!/projects/site/node_modules/sortable-tablesort/
/projects/site/node_modules/sortable-tablesort/*
!/projects/site/node_modules/sortable-tablesort/sortable.min.css
!/projects/site/node_modules/sortable-tablesort/sortable.min.js

!/projects/site/node_modules/highlight.js/
/projects/site/node_modules/highlight.js/*
!/projects/site/node_modules/highlight.js/highlight.min.js
!/projects/site/node_modules/highlight.js/styles/
/projects/site/node_modules/highlight.js/styles/*
!/projects/site/node_modules/highlight.js/styles/github-dark-dimmed.min.css
!/projects/site/node_modules/highlight.js/languages/
/projects/site/node_modules/highlight.js/languages/*
!/projects/site/node_modules/highlight.js/languages/rust.min.js
!/projects/site/node_modules/highlight.js/languages/json.min.js

site/404.html
site/CNAME
site/index.html
site/search.json
site/sitemap.xml
site/assets/images/favicon.png
site/assets/javascripts/bundle.3c403d54.min.js
site/assets/javascripts/workers/search.5e1f2129.min.js
site/assets/stylesheets/classic/main.c5ffb0a9.min.css
site/assets/stylesheets/classic/palette.7dc9a0ad.min.css
site/assets/stylesheets/modern/main.1357c24d.min.css
site/assets/stylesheets/modern/palette.dfe2e883.min.css
site/components/celery/index.html
site/components/cis/index.html
site/components/cns/index.html
site/components/domain/index.html
site/components/grpc/index.html
site/components/mongodb/index.html
site/components/schema-parser/index.html
site/components/tooter/index.html
site/components/wasmdecoder/index.html
site/entities/index.html
site/entities/account/index.html
site/entities/block/index.html
site/entities/community_labels/index.html
site/entities/module/index.html
site/entities/token/index.html
site/entities/transaction/index.html
site/projects/index.html
site/projects/api/index.html
site/projects/bot/index.html
site/projects/every_block/block_analyzer/index.html
site/projects/every_block/events_and_impacted/index.html
site/projects/every_block/heartbeat/index.html
site/projects/every_block/indexers/index.html
site/projects/every_block/metadata/index.html
site/projects/every_block/new_address/index.html
site/projects/every_block/new_contract/index.html
site/projects/every_block/new_module/index.html
site/projects/every_block/plt/index.html
site/projects/every_block/token_accounting/index.html
site/projects/projects/index.html
site/projects/site/index.html
site/projects/timed_services/account_graph/index.html
site/projects/timed_services/accounts/index.html
site/projects/timed_services/statistics_daily_holders/index.html
site/projects/timed_services/statistics_daily_limits/index.html
site/projects/timed_services/statistics_fees/index.html
site/projects/timed_services/statistics_realized_prices/index.html
site/projects/timed_services/statistics_unique_addresses/index.html
site/projects/timed_services/transactions_by_projects/index.html
site/projects/timed_services/transactions_by_type_contents/index.html
__marimo__/session/s7_get_links.py.json
__marimo__/session/s7.py.json
development/*
site/*
site/assets/javascripts/bundle.00c35305.min.js
site/assets/javascripts/LICENSE
site/assets/javascripts/workers/search.e2d2d235.min.js
site/assets/stylesheets/classic/main.70d17ad7.min.css
site/assets/stylesheets/modern/main.f1b6466b.min.css
.coverage
cov.xml
