{% if error %}
  <p class="ms-2 text-danger">{{ error }}</p>
{% else %}
{% macro amt(value, token) -%}
  {%- if token == "CCD" -%}{{ (value*1000000)|micro_ccd_no_decimals|safe }}
  {%- else -%}{{ value|token_value_no_decimals(token)|safe }}{%- endif -%}
{%- endmacro -%}
<div id="cmb_sankey_plot" class="w-100">{{ cmb_sankey_html|safe }}</div>
<p class="ms-2">Note: This graph and the tables below show <i>net</i> transfers for the cluster of {{ n_accounts }} account(s).</p>

<table class="table table-borderless">
  <thead>
    <tr class="sm-text">
      <th class="text-secondary-emphasis">Cluster Transfer Summary</th>
      <th class="text-end text-secondary-emphasis">Amount</th>
      <th class="text-end text-secondary-emphasis"># Txs</th>
      <th class="text-end text-secondary-emphasis"># Accounts</th>
    </tr>
  </thead>
  <tbody>
    <tr class="sm-text">
      <td class="text-secondary-emphasis">Received</td>
      <td class="text-end text-secondary-emphasis">{{ amt(graph_dict.amount_received, token) }}</td>
      <td class="text-end text-secondary-emphasis ccd">{{ graph_dict.receiver_txs }}</td>
      <td class="text-end text-secondary-emphasis ccd">{{ graph_dict.receiver_accounts }}</td>
    </tr>
    <tr class="sm-text">
      <td class="text-secondary-emphasis">Sent</td>
      <td class="text-end text-secondary-emphasis">{{ amt(graph_dict.amount_sent, token) }}</td>
      <td class="text-end text-secondary-emphasis ccd">{{ graph_dict.sender_txs }}</td>
      <td class="text-end text-secondary-emphasis ccd">{{ graph_dict.sender_accounts }}</td>
    </tr>
    <tr class="sm-text">
      <td class="text-secondary-emphasis">Net Transfer <span class="ccd">({{ net_direction }})</span></td>
      <td class="text-end text-secondary-emphasis">{{ amt(net_transfer_abs, token) }}</td>
      <td class="text-end text-secondary-emphasis"></td>
      <td class="text-end text-secondary-emphasis"></td>
    </tr>
    <tr class="sm-text">
      <td class="text-secondary-emphasis">Internal transfers (collapsed)</td>
      <td class="text-end text-secondary-emphasis">{{ amt(internal_total, token) }}</td>
      <td class="text-end text-secondary-emphasis ccd">{{ internal_count }}</td>
      <td class="text-end text-secondary-emphasis"></td>
    </tr>
  </tbody>
</table>

<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-borderless">
        <thead>
          <tr class="sm-text">
            <th class="text-secondary-emphasis">Received from</th>
            <th class="text-end text-secondary-emphasis">Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for k, v in graph_dict.as_receiver_dict.items()|sort(attribute='1.amount', reverse=true) %}
          <tr class="sm-text">
            <td class="">
              {% if v.account_id in ['<---', "--->", 'Transaction Fees', 'Rewards', 'Encrypted', 'Decrypted'] %}
                <span class="text-secondary-emphasis"><i>{{ v.account_id|safe }}</i></span>
              {% elif v.account_id|length < 29 %}
                {{ v.account_id|instance_link_from_str(net, user, tags, app=request.app)|safe }}
              {% else %}
                {{ v.account_index|account_link(net, user, tags, app=request.app)|safe }}
              {% endif %}
            </td>
            <td class="text-end text-secondary-emphasis">{{ amt(v.amount, token) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-borderless">
        <thead>
          <tr class="sm-text">
            <th class="text-secondary-emphasis">Sent to</th>
            <th class="text-end text-secondary-emphasis">Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for k, v in graph_dict.as_sender_dict.items()|sort(attribute='1.amount', reverse=true) %}
          <tr class="sm-text">
            <td class="">
              {% if v.account_id in ['--->', "<---", 'Transaction Fees', 'Rewards', 'Encrypted', 'Decrypted'] %}
                <span class="text-secondary-emphasis"><i>{{ v.account_id|safe }}</i></span>
              {% elif v.account_id|length < 29 %}
                {{ v.account_id|instance_link_from_str(net, user, tags, app=request.app)|safe }}
              {% else %}
                {{ v.account_index|account_link(net, user, tags, app=request.app)|safe }}
              {% endif %}
            </td>
            <td class="text-end text-secondary-emphasis">{{ amt(v.amount, token) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}
