
<tr class="table-row-line-height sm-text">
    <td class="text-start text-secondary-emphasis">First tx sent</td>
    {% if latest_first.first_tx %}
        <td class="text-end text-secondary-emphasis ccd"><a href="/{{net}}/transaction/{{latest_first.first_tx.hash}}"><span style="font-family: monospace, monospace;">{{latest_first.first_tx.block_info.slot_time|datetime_delta_format_since}} <i class="bi bi-arrow-up-right"></i></span></a></td>
    {% else %}
        <td class="text-end text-secondary-emphasis ccd"><span style="font-family: monospace, monospace;"><i class="bi bi-x"></i></span></td>
    {% endif %}
</tr>
<tr class="table-row-line-height sm-text">
    <td class="text-start text-secondary-emphasis">Latest tx sent</td>
    {% if latest_first.last_tx %}
        <td class="text-end text-secondary-emphasis ccd"><a href="/{{net}}/transaction/{{latest_first.last_tx.hash}}"><span style="font-family: monospace, monospace;">{{latest_first.last_tx.block_info.slot_time|datetime_delta_format_since}} <i class="bi bi-arrow-up-right"></i></span></a></td>
    {% else %}
        <td class="text-end text-secondary-emphasis ccd"><span style="font-family: monospace, monospace;"><i class="bi bi-x"></i></span></td>
    {% endif %}
</tr>