{% extends "base/base.html" %}

{% block js %}
<script src="/node/plotly.js-strict-dist-min/plotly-strict.min.js"></script>
{% endblock %}

{% block content %}

{% include 'base/search_bar_non_home_inclusion.html' %}
{% include 'statistics/block_link.html' %}
{% set title= "Validators" %}{% include 'base/box_title.html' %}
<div class="row row-flex">
  <div class="col-md-6  col-sm-12 ">
    {%set plot_name = "staking_validator_count" %}
    {%set ajax_url = "ajax_statistics_plotly_py/statistics_network_summary_validator_count" %}
    <div class="border content curved-border">{% include "statistics/chain/generic_plot_with_share.html" %}</div>  
    
    
  </div>
  <div class="col-md-6  col-sm-12">
    {%set plot_name = "staking_validator_staked_amounts" %}
    {%set ajax_url = "ajax_statistics_plotly_py/statistics_validator_staking" %}
    <div class="border content curved-border">{% include "statistics/chain/generic_plot_with_share.html" %}</div>  
    
    
  </div>
</div>

{% endblock %}

