{% extends "base/base.html" %}

{% block js %}
<script src="/node/plotly.js-strict-dist-min/plotly-strict.min.js"></script>
{% endblock %}

{% block content %}

{% include 'base/search_bar_non_home_inclusion.html' %}
{% include 'statistics/block_link.html' %}
{% set title= "Accounts" %}{% include 'base/box_title.html' %}
<div class="row mt-4 row-flex">
  <div class="col-md-6  col-sm-12 ">
    {%set plot_name = "network_summary_accounts_per_day" %}
    {%set ajax_url = "ajax_statistics_plotly_py/statistics_network_summary_accounts_per_day" %}
    <div class="border content curved-border">{% include "statistics/chain/generic_plot_with_share.html" %}</div>  
    
  </div>
  <div class="col-md-6  col-sm-12 ">
    {%set plot_name = "daily_limits" %}
    {%set ajax_url = "ajax_statistics_plotly_py/statistics_daily_limits" %}
    <div class="border content curved-border">{% include "statistics/chain/generic_plot_with_share.html" %}</div>
  </div>
</div>

<div class="row mt-4 row-flex">
  <div class="col-md-6  col-sm-12 ">
    {%set plot_name = "realized_prices" %}
    {%set ajax_url = "ajax_statistics_plotly_py/statistics_daily_limits" %}
    <div class="border content curved-border">{% include "statistics/chain/generic_plot_with_share.html" %}</div>
    <!-- <div class="border content curved-border">{% include "statistics/chain/realized_prices.html" %}</div> -->
  </div>

</div>


{% endblock %}

