<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ plot_title }}</title>
    <meta name="description" content="{{ plot_description }}" />
    <link rel="canonical" href="{{ og_url }}" />
    <link rel="stylesheet" href="/static/css/custom_bootstrap.css?v=1.1">
    <link rel="icon" href="https://ccdexplorer.io/static/logos/favicon.ico" />

    <!-- Open Graph -->
    <meta property="og:title" content="{{ plot_title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ plot_description }}" />
    <meta property="og:url" content="{{ og_url }}" />
    <meta property="og:image" content="{{ plot_url }}" />
    <meta property="og:image:secure_url" content="{{ plot_url }}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ plot_title }}" />
    <meta name="twitter:description" content="{{ plot_description }}" />
    <meta name="twitter:image" content="{{ plot_url }}" />

    <!-- Telegram -->
    <meta property="og:site_name" content="CCDExplorer.io">
  </head>

  <body>
    <div class="container-lg mt-3">
    <a class="navbar-brand" href="/mainnet"><img id='logo' src="/static/logos/logo_dark.png" alt="" width="125" height="40"></a>
    {% if plot_html %}
        
          {{ plot_html | safe }}
          <p>{{plot_description}}</p>
          {% if canonical_page_url %}
        <p><a href="{{ canonical_page_url }}">View chart on CCDExplorer.io</a></p>
      {% endif %}
    {% else %}
      {% if canonical_page_url %}
        <p><a href="{{ canonical_page_url }}">View chart on CCDExplorer.io</a></p>
      {% endif %}
    {% endif %}
    </div>
  </body>
</html>