<!doctype html>
<html>
  <head>
    <title>{{ plot_title }}</title>

  <meta property="og:title" content="{{ plot_title }}">
  <meta property="og:type" content="website">
  <meta property="og:logo" content="https://ccdexplorer.io/static/logos/favicon.ico">
  <meta property="og:description" content="{{ plot_description }}">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:image" content="{{ plot_url }}">
  <meta name="twitter:card" content="summary_large_image">

  </head>
  <body>
    {% block content %}
  <div class="container py-3">
    {{ plot_html | safe }}
  </div>
{% endblock %}
  </body>
</html>

