{% extends "base/base.html" %}
{% block content %}
{% include 'base/search_bar_non_home_inclusion.html' %}
<div class="row mt-4">
  <div class="col-md-6 offset-md-3 col-sm-12">
    <div class="border content curved-border">
      {% set title = "Set a new password" %}{% include 'base/box_title.html' %}

      {% if error %}
        <p class="text-danger sm-text">{{ error }}</p>
      {% endif %}

      <form action="/auth/reset-password" method="post">
        <input type="hidden" name="reset_password_token" value="{{ reset_password_token }}">
        <div class="mb-3">
          <label class="form-label sm-text">New password</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Save new password</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
